doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PorscheLUX
    link(rel="stylesheet", href="./public/stylesheets/style.css")
    //- Unicons CSS
    link(rel="stylesheet", href="https://unicons.iconscout.com/release/v4.0.0/css/line.css")
    script(src="./public/javascripts/script.js", defer)
  body
    nav.nav
      i.uil.uil-bars.navOpenBtn
      a.logo(href="#") PorscheLUX
      ul.nav-links
        i.uil.uil-times.navCloseBtn
        li
          a(href="#") Home
        li
          a(href="#") Services
        li
          a(href="#") Products
        li
          a(href="#") About Us
        li
          a(href="#") Contact Us
      i.uil.uil-search.search-icon(id="searchIcon")
      .search-box
        i.uil.uil-search.search-icon
        input(type="text", placeholder="Search here...")